<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">
	<display-name>MyWeb</display-name>
	<welcome-file-list>
		<welcome-file>Login.jsp</welcome-file>
	</welcome-file-list>
	<servlet>
		<description></description>
		<display-name>LoginServlet</display-name>
		<servlet-name>LoginServlet</servlet-name>
		<servlet-class>jyj.servlet.LoginServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoginServlet</servlet-name>
		<url-pattern>/LoginServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>RegistServlet</display-name>
		<servlet-name>RegistServlet</servlet-name>
		<servlet-class>jyj.servlet.RegistServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RegistServlet</servlet-name>
		<url-pattern>/RegistServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>ManaUpdPswServlet</display-name>
		<servlet-name>ManaUpdPswServlet</servlet-name>
		<servlet-class>jyj.servlet.ManaUpdPswServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ManaUpdPswServlet</servlet-name>
		<url-pattern>/ManaUpdPswServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>ManaUpdPswServlet2</display-name>
		<servlet-name>ManaUpdPswServlet2</servlet-name>
		<servlet-class>jyj.servlet.ManaUpdPswServlet2</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ManaUpdPswServlet2</servlet-name>
		<url-pattern>/ManaUpdPswServlet2</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>ManaDeleteServlet</display-name>
		<servlet-name>ManaDeleteServlet</servlet-name>
		<servlet-class>jyj.servlet.ManaDeleteServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ManaDeleteServlet</servlet-name>
		<url-pattern>/ManaDeleteServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>DrawImageServlet</display-name>
		<servlet-name>DrawImageServlet</servlet-name>
		<servlet-class>jyj.servlet.DrawImageServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DrawImageServlet</servlet-name>
		<url-pattern>/DrawImageServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>EmpAddServlet</display-name>
		<servlet-name>EmpAddServlet</servlet-name>
		<servlet-class>jyj.servlet.EmpAddServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>EmpAddServlet</servlet-name>
		<url-pattern>/EmpAddServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>EmpDeleteServlet</display-name>
		<servlet-name>EmpDeleteServlet</servlet-name>
		<servlet-class>jyj.servlet.EmpDeleteServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>EmpDeleteServlet</servlet-name>
		<url-pattern>/EmpDeleteServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>QueryEmpByEmpNoServlet</display-name>
		<servlet-name>QueryEmpByEmpNoServlet</servlet-name>
		<servlet-class>jyj.servlet.QueryEmpByEmpNoServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>QueryEmpByEmpNoServlet</servlet-name>
		<url-pattern>/QueryEmpByEmpNoServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>EmpUpdInfoServlet</display-name>
		<servlet-name>EmpUpdInfoServlet</servlet-name>
		<servlet-class>jyj.servlet.EmpUpdInfoServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>EmpUpdInfoServlet</servlet-name>
		<url-pattern>/EmpUpdInfoServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>EmpQueryByPageServlet</display-name>
		<servlet-name>EmpQueryByPageServlet</servlet-name>
		<servlet-class>jyj.servlet.EmpQueryByPageServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>EmpQueryByPageServlet</servlet-name>
		<url-pattern>/EmpQueryByPageServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>DownloadServlet</display-name>
		<servlet-name>DownloadServlet</servlet-name>
		<servlet-class>jyj.servlet.DownloadServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DownloadServlet</servlet-name>
		<url-pattern>/DownloadServlet</url-pattern>
	</servlet-mapping>
</web-app>